﻿@model Open_Library_Kashmir.Models.ApplicationUser
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "User Details";
}
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Account Settings</h1>
    </section>
    <hr>
    <section>
        @if (Request.IsAuthenticated)
        {
        <section class="row" aria-labelledby="aspnetTitle">
            <h4>Hello @Model.FirstName! </h4>
        </section>
        //<p>Roles: @string.Join(", ", ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value))</p>

        @*var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
        if (claimsIdentity != null)
        {
        foreach (var claim in claimsIdentity.Claims) // Access the Claims property
        {
        @:<p>@claim.Type - @claim.Value</p>
        }
        }*@
          <ul>
              @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
              {
              @Html.AntiForgeryToken()
              <li>
                  <a class="btn btn-outline-dark" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
              </li>
              }
              <li>
                  @Html.ActionLink("Profile Details", "Details", "UsersAdmin", routeValues: new { id = User.Identity.GetUserId() }, htmlAttributes: new { title = "Update", @class = "btn btn-outline-dark" })
              </li>
              <li>
                  @Html.ActionLink("Update Your Details", "UpdateUser", "Account", routeValues: new { UserId = User.Identity.GetUserId() }, htmlAttributes: new { title = "Update", @class = "btn btn-outline-dark" })
              </li>
              @using (Html.BeginForm("Delete Your Account", "Account", FormMethod.Post, new { id = "deleteUser" }))
              {
              @Html.AntiForgeryToken()
              @Html.Hidden("UserId", Model.Id)
              <li>
                  <a class="btn btn-outline-dark" href="javascript:document.getElementById('deleteUser').submit()">Delete Your Account</a>
              </li>
              }
              <li>
                  @Html.ActionLink("Manage Other Settings", "Index", "Manage", routeValues: null, htmlAttributes: new { id = "mamagelink", title = "Manage", @class = "btn btn-outline-dark" })
              </li>
              <li>
                  @Html.ActionLink("Manage Wishlist", "Wishlist", "Donation", routeValues: null, htmlAttributes: new { id = "mamagelink", title = "Manage", @class = "btn btn-outline-dark" })
              </li>
              @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
              {
              <li>
                  @Html.ActionLink("Manage Roles", "Index", "RolesAdmin", routeValues: null, htmlAttributes: new { id = "registerLink", title = "Update", @class = "btn btn-outline-dark" })
              </li>
              <li>
                  @Html.ActionLink("Manage Users", "Index", "UsersAdmin", routeValues: null, htmlAttributes: new { id = "registerLink", title = "Update", @class = "btn btn-outline-dark" })
              </li>
              }
          </ul>
        }
        else
        {
        <ul>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", title = "Update", @class = "btn btn-outline-dark" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", title = "Login", @class = "btn btn-outline-dark" })</li>
        </ul>


        }
    </section>
</main>
<hr>
<footer>
    <div>
        @Html.ActionLink("Go to Home", "Index", "Home")
    </div>
</footer>
