@model Open_Library_Kashmir.Models.BookOfTheMonth

@{
    ViewBag.Title = "Open Library Kashmir";
}

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <main>
        <section class="row text-center mt-5" aria-labelledby="aspnetTitle">
            <h1 id="title">Welcome to OLK!</h1>
        </section>

        <section class="row text-center" aria-labelledby="aspnetTitle">
            @*<h1 id="title">Who We Are?</h1>*@
            <p class="lead">
                Give a Book, Get a Book: Your Book Exchange Community
            </p>
            <p>
                <a href="@Url.Action("Index", "About")" class="btn btn-primary btn-md"
                   style="background-color: #187bcd;border-color: #187bcd;transition: background-color 0.3s ease;"
                   onmouseover="this.style.backgroundColor='#0e5a9c'"
                   onmouseout="this.style.backgroundColor='#187bcd'">Learn more &raquo;</a>
            </p>
        </section>

        <section class="container mt-5 py-4" aria-labelledby="DonateTitle" style=" box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); border: 1px solid #ddd; border-radius: 7.5px;">
            <h2 class="text-center text-bg-light py-3" style="border-radius: 7.5px" id="DonateTitle">Book Of The Month</h2>
            <div class="row mt-3 align-items-center">
                <div class="col-md-3">
                    <img src="@Model.ImageUrl" alt="Image Not Available" style="max-width: 200px; margin: 0 auto; display: block;" class="img-fluid" loading="lazy">
                </div>
                <div class="col-md-9 mt-3">
                    <h2>@Model.Title <small class="text-muted">by @Model.Author</small></h2>
                    <p>
                        @Model.ShortDescription
                    </p>
                    @*<p class="text-muted mt-2">
                            &copy; goodreads
                        </p>*@
                </div>
            </div>
        </section>

        <section class="container mt-5">
            <div class="row">
                <section class="col-md-6" aria-labelledby="DonateTitle">
                    <h2 id="DonateTitle">Donate Books</h2>
                    <p>
                        Want to make a difference in the lives of young readers?
                        Your book donations have the power to inspire and change lives.
                        Click here to support our mission and donate books today!
                    </p>
                    <p><a class="btn btn-outline-dark" href="@Url.Action("GiftBooks", "Donation")">Donate &raquo;</a></p>
                </section>
                <section class="col-md-6" aria-labelledby="RecieveTitle">
                    <h2 id="RecieveTitle">Recieve Books</h2>
                    <p>
                        Give books a new life and support reading in our community.
                        Browse our selection of donated books and discover books you actually want to read.
                        Click here to access our book listings.
                    </p>
                    <p><a class="btn btn-outline-dark" href="@Url.Action("Index", "Donation")">Recieve &raquo;</a></p>
                </section>
            </div>
        </section>
    </main>
</body>
</html>
