@model IEnumerable<Open_Library_Kashmir.Models.BookOfTheMonth>

@using Open_Library_Kashmir.Helpers


@{
    ViewBag.Title = "GetBooksOfTheMonth";
}

<h2>Books Of The Month List</h2>

<p>
    @Html.ActionLink("Add Book Of The Month", "AddBookOfTheMonth")
</p>
<table class="table">
    <tr>
        @*<th>
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthYear)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <!--<td>-->
                @*@Html.Image(item.ImageUrl, "Book Image Not Available")*@
                <!--<img src="@item.ImageUrl" alt="Image Not Available" style="max-width: 100px; margin: 0 auto; display: block;" class="img-fluid">
            </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                <p>@item.MonthYear.ToString("MMMM yyyy")</p>
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBookOfTheMonth", new { id = item.BookId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
            </td>
        </tr>
    }

</table>
