@*@if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="nav-link" })
            </li>
            <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
        }
    }
    else
    {
        <ul class="navbar-nav navbar-right">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="nav-link" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="nav-link" })</li>
        </ul>
    }*@


@if (Request.IsAuthenticated)
{
    <a href="@Url.Action("UserDetails", "Account")" class="navbar-brand">
        <img src="~/Content/Images/profile-user-color.png" title="User Details" alt="User Details" style="max-width: 32px; height: auto;" />
    </a>
}
else
{
    <a href="@Url.Action("Login", "Account")" class="navbar-brand">
        <img src="~/Content/Images/profile-user.png" title="User Details" alt="User Details" style="max-width: 32px; height: auto;" />
    </a>

}
