﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Roles</h2>

<p>
    @Html.ActionLink("Create New Role", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "RolesAdmin", routeValues: new { id = item.Id }, htmlAttributes: new { title = "Edit" }) |
                @Html.ActionLink("Details", "Details", "RolesAdmin", routeValues: new { id = item.Id }, htmlAttributes: new { title = "Detals" }) |
                @Html.ActionLink("Delete", "Delete", "RolesAdmin", routeValues: new { id = item.Id }, htmlAttributes: new { title = "Delete" })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Back to Account Settings", "UserDetails", "Account", routeValues: new { }, htmlAttributes: new { title = "User Details" })
</p>