﻿@model Open_Library_Kashmir.Models.UserDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Profile</h2>

<div>
    <h4>Your Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
    </dl>
</div>
<h4>List Of Roles</h4>
<table class="table">
    @if (Model.Roles.Count() == 0)
    {
        <tr>
            <td>
                @Html.Display("No Special Roles")
            </td>
        </tr>
    }
    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        <tr>
            <td>
                <h6>You have Admin priveleges!</h6>
            </td>
        </tr>

    }
    @foreach (var rolename in Model.Roles)
    {
        <tr>
            <td>
                » @Html.DisplayFor(modelItem => rolename)
            </td>
        </tr>
    }
</table>

<h4>List Of Logins</h4>
<table class="table">
    @if (Model.User.Logins.Count == 0)
    {
        <tr>
            <td>
                @Html.Display("No Logins")
            </td>
        </tr>
    }
    @foreach (var item in Model.User.Logins)
    {
        <tr>
            <td>
                » @Html.DisplayFor(modelItem => item.LoginProvider)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Update Profile", "UpdateUser") |
    @Html.ActionLink("Manage Account", "Index")
</p>