@model Open_Library_Kashmir.Models.Book

@using Open_Library_Kashmir.Helpers

@{
    ViewBag.Title = "Book Details";
}

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                @Html.Image(Model.Image_Path, "Book Image Not Available")
                @*<img src="@Url.Content(@Model.Image_Path)" alt="Book Image Not Available" />*@
                @*<img src="http://lgimages.s3.amazonaws.com/gc-md.gif" class="img-thumbnail" alt="Book Image Not Available">*@
            </div>
            <div class="col-md-8">
                <h2>@Model.Title</h2>
                <p>@Html.DisplayNameFor(model => model.Author): @Html.DisplayFor(model => model.Author, new { @class = "text-muted" })</p>
                <p>@Html.DisplayNameFor(model => model.ISBN): @Html.DisplayFor(model => model.ISBN, new { @class = "text-muted" })</p>
                <p>@Html.DisplayNameFor(model => model.Genre): @Html.DisplayFor(model => model.Genre, new { @class = "text-muted" })</p>
                <p>@Html.DisplayNameFor(model => model.Condition): @Html.DisplayFor(model => model.Condition, new { @class = "text-muted" })</p>
                <p>@Html.DisplayNameFor(model => model.Publication_Year): @Html.DisplayFor(model => model.Publication_Year, new { @class = "text-muted" })</p>
                <p>@Html.DisplayNameFor(model => model.Publisher): @Html.DisplayFor(model => model.Publisher, new { @class = "text-muted" })</p>
                <p>@Html.DisplayNameFor(model => model.@Class): @Html.DisplayFor(model => model.@Class, new { @class = "text-muted" })</p>
                <p>@Html.DisplayNameFor(model => model.Subject): @Html.DisplayFor(model => model.Subject, new { @class = "text-muted" })</p>
                <p>@Html.DisplayNameFor(model => model.Status): @Html.DisplayFor(model => model.Status, new { @class = "text-muted" })</p>
                <p>@Html.DisplayNameFor(model => model.Available_At): @Html.DisplayFor(model => model.Available_At, new { @class = "text-muted" })</p>
                <p>@Html.DisplayNameFor(model => model.Short_Description): @Html.DisplayFor(model => model.Short_Description, new { @class = "text-muted" })</p>
                <hr>
                <div>
                    <button type="submit" class="btn btn-primary">
                        @Html.ActionLink("« Back to Book List", "Donation", null, new { style = "color: white;" })
                    </button>
                    <button type="submit" class="btn btn-primary">Add to Wishlist &raquo</button>

                </div>
            </div>
        </div>
    </div>
}