@model IEnumerable<Open_Library_Kashmir.Models.Book>
<head>
    <style>
        /* Always show these columns */
        .title-col, .status-col {
            display: table-cell;
        }

        /* Hide on smaller screens (Example breakpoint) */
        @@media (max-width: 768px) {
            .author-col, .class-col, .subject-col

        {
            display: none;
        }
        }
    </style>
</head>
<h2>Books avialable for donation: </h2>
<table class="table">
    <tr>
        <th class="title-col">
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th class="author-col">
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th class="class-col">
            @Html.DisplayNameFor(model => model.@class)
        </th>
        <th class="subject-col">
            @Html.DisplayNameFor(model => model.subject)
        </th>
        <th class="status-col">
            @Html.DisplayNameFor(model => model.status)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="title-col">
                @Html.ActionLink(item.title, "BookDetails", new { id = item.book_id })
            </td>
            <td class="author-col">
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td class="class-col">
                @Html.DisplayFor(modelItem => item.@class)
            </td>
            <td class="subject-col">
                @Html.DisplayFor(modelItem => item.subject)
            </td>
            <td class="status-col" style="color: @(item.status == "available" ? "green" : item.status == "donated" ? "red" : "inherit")">
                @Html.DisplayFor(modelItem => item.status)
            </td>
        </tr>
    }
</table>