@model IEnumerable<Open_Library_Kashmir.Models.Book>
<head>
    <style>
        /* Always show these columns */
        .title-col, .status-col {
            display: table-cell;
        }

        /* Hide on smaller screens (Example breakpoint) */
        @@media (max-width: 768px) {
            .author-col, .class-col, .subject-col

        {
            display: none;
        }
        }
    </style>
</head>
<h2>Books avialable for donation: </h2>
<table class="table">
    <tr>
        <th class="title-col">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th class="author-col">
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th class="class-col">
            @Html.DisplayNameFor(model => model.@Class)
        </th>
        <th class="subject-col">
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th class="status-col">
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="title-col">
                @Html.ActionLink(item.Title, "BookDetails", new { id = item.Book_ID })
            </td>
            <td class="author-col">
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td class="class-col">
                @Html.DisplayFor(modelItem => item.@Class)
            </td>
            <td class="subject-col">
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td class="status-col" style="color: @(item.Status == "Available" ? "green" : item.Status == "Donated" ? "red" : "inherit")">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }
</table>