
@model Open_Library_Kashmir.Models.WishlistViewModel
<head>
    <style>
        /* Always show these columns */
        .title-col, .author-col {
            display: table-cell;
        }

        /* Hide on smaller screens (Example breakpoint) */
        @@media (max-width: 768px) {
            .publisher-col, .class-col, .avail-at-col {
                display: none;
            }
        }
    </style>
</head>
<h2>My Wishlist</h2>

@if (Model.Books?.Any() ?? false)
{
    <table class="table">
        <tr>
            <th class="title-col">
                @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Title)
            </th>
            <th class="author-col">
                @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Author)
            </th>
            <th class="class-col">
                @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Class)
            </th>
            <th class="publisher-col">
                @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Publisher)
            </th>
            <th class="avail-at-col">
                @Html.DisplayNameFor(model => model.Books.FirstOrDefault().AvailableAt)
            </th>
        </tr>

        @foreach (var item in Model.Books)
        {
            <tr>

                <td class="title-col">
                    @Html.ActionLink(item.Title, "BookDetails", new { id = item.BookId })
                </td>
                <td class="author-col">
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td class="class-col">
                    @Html.DisplayFor(modelItem => item.@Class)
                </td>
                <td class="publisher-col">
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td class="avail-at-col">
                    @Html.DisplayFor(modelItem => item.AvailableAt)
                </td>
            </tr>
        }

    </table>

    if (Request.IsAuthenticated)
    {
        @*<h4>You need to fill in additional details to reqeust books:</h4>*@

        using (Html.BeginForm("EditRecipient", "Donation", FormMethod.Post))
        {
            <button type="submit" id="managebookslink" class="btn btn-primary">Proceed With Request »</button>
        }
        <div class="mt-2"></div>
        <div class="row alert alert-danger" id="message-area"></div> <!-- messaging area -->
        <div class="mt-2"></div>
    }
    else
    {
        <p>Register your details to request these books: </p>
        @Html.ActionLink("Login or Register", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", title = "Login", @class = "btn btn-outline-dark" })
    }
}

else
{
    <h4>Your wishlist is empty.</h4>
}

<script>
$(document).ready(function () {
    // Retrieve TempData values
    var booksInWishlistDB = '@TempData["BooksInWishlistDB"]' === 'True';

    // Update "Add to Wishlist" button
    var manageBooksButton = $('#managebookslink');

    if (booksInWishlistDB) {
        manageBooksButton.prop('disabled', true);
    }

    if (booksInWishlistDB) {
        $('#message-area').text("You have requested some books, thus new ones can't be requested as of now.");
    } else {
        $('#message-area').hide();
    }

});
</script>

