
@model Open_Library_Kashmir.Models.WishlistViewModel
<head>
    <style>
        /* Always show these columns */
        .title-col, .author-col {
            display: table-cell;
        }

        /* Hide on smaller screens (Example breakpoint) */
        @@media (max-width: 768px) {
            .publisher-col, .class-col, .avail-at-col {
                display: none;
            }
        }
    </style>
</head>
<h2>My Wishlist</h2>

@if (Model.Books?.Any() ?? false)
{
    <<table class="table">
            <tr>
                <th class="title-col">
                    @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Title)
                </th>
                <th class="author-col">
                    @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Author)
                </th>
                <th class="class-col">
                    @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Class)
                </th>
                <th class="publisher-col">
                    @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Publisher)
                </th>
                <th class="avail-at-col">
                    @Html.DisplayNameFor(model => model.Books.FirstOrDefault().AvailableAt)
                </th>
            </tr>
       
            @foreach (var item in Model.Books)
            {
                <tr>

                    <td class="title-col">
                        @Html.ActionLink(item.Title, "BookDetails", new { id = item.BookId })
                    </td>
                    <td class="author-col">
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td class="class-col">
                        @Html.DisplayFor(modelItem => item.@Class)
                    </td>
                    <td class="publisher-col">
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td class="avail-at-col">
                        @Html.DisplayFor(modelItem => item.AvailableAt)
                    </td>
                </tr>
            }
       
    </table>

    if (Request.IsAuthenticated)
    {
        @*<h4>You need to fill in additional details to reqeust books:</h4>*@

        @*using (Html.BeginForm("CreateRecipient", "Donation", FormMethod.Post))
            {
                <button type="submit" class="btn btn-primary">Fill Additional Details</button>
            }*@
        @Html.ActionLink("Proceed With Request »", "EditRecipient", "Donation", routeValues: null@*new {model = Model}*@, htmlAttributes: new { id = "mamagelink", title = "Manage", @class = "btn btn-primary" })

    }
    else
    {
        <p>Register your details to request these books: </p>
        @Html.ActionLink("Login or Register", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", title = "Login", @class = "btn btn-outline-dark" })
    }
}

else
{
    <h4>Your wishlist is empty.</h4>
}
